---
layout: default
---



                   <h2>Information Extraction and Natural Language Processing at IDLab, Ghent University</h2>



                  <div id="viewlet-above-content-body"></div>


                  <!-- About -->

                  <div id="content-core" id="about">

                    <div class="" id="parent-fieldname-text-6358f0622e9e4d7c85db68ee02cf9cde">

                        {% include intro.html %}

                        <ul>
                          <li>Link to the <a class="external-link" href="https://twitter.com/ugentnlp">Ghent University NLP Twitter page</a> we
                              share with the <a href="https://www.lt3.ugent.be">Language and Translation Technology Team</a></li>
                        </ul>

                      </div>


                    <!-- Members -->

                    {% include members.html %}



        <div id="viewlet-below-content-body"><div class="visualClear" id="clear-space-before-relatedItemBox"><!-- --></div>

      </div>

    </div>


