<div class="fluid-container">

</div>
<footer class="page-footer fluid-container">
  <div class="row">
    <div class="col-xs-10">
      <div class="bg-primary padding-20">

        <div class="row">
          <div id="socialbanner" class="container-share col-xs-10 col-sm-4">
            <ul class="list-inline list-unstyled social"></ul>
          </div>
          <div class="col-xs-10 col-sm-8">
            <ul class="list-inline list-unstyled pull-right" id="footeractions">


            <!-- <li><a href="https://www.ugent.be/castle_logout">Log out</a></li> -->
            <li>© 2019 Ghent University</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
</footer>
<script type="text/javascript">
jQuery(function($){
  if (typeof($.datepicker) != "undefined"){
    $.datepicker.setDefaults(
      jQuery.extend($.datepicker.regional[''],
        {dateFormat: 'dd-mm-yy'}));
  }
});
</script><script type="text/javascript">
var login_required = 'login required';
var external_link = 'external link';
var sort_on = 'sort on ';
var came_from = '';
</script>