          <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]--><div class="fluid-container">
            <div class="row">

              <header class="pageheader col-xs-10 ">
                <nav class="navbar navbar-default">
                  <div class="row">

                    <div class="navbar-header  col-sm-2">
                      <div >
                        <img src="img/logos/ugent_T2K.png" class="logo"/>
                        <a href="https://www.ugent.be/en" class="link">

                        </a>

                      </div>


                      <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" role="button">
                        <span class="">MENU</span>
                        <div class="block">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </div>
                      </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse col-sm-2" role="navigation">


                      <div class="row menu">
                        <div class="col-xs-10">
                          <div class="spacer">
                            <div class="row">
                              <div class="col-xs-10">
                                <ul class="nav-tertiary nav navbar-nav navbar-right">
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row menu">
                        <div class="col-xs-12">
                          <ul class="nav-primary nav navbar-nav main-top-nav">


                            <li class="">
                              <a href="index.html">
                                <span>Home</span>
                              </a>
                            </li>


                            <li class="">
                              <a href="index.html#members">
                                <span>Members</span>
                              </a>
                            </li>




                            <li class="">
                              <a href="publications.html">
                                <span>Publications</span>
                              </a>
                            </li>

                            <!-- <li class="">
                              <a href="index.html#code">
                                <span>Software</span>
                              </a>
                            </li> -->


                            <li class="">
                              <a href="contact.html">
                                <span>Contact</span>
                              </a>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>

              </header>

            </div>
          </div>

