<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en" xml:lang="en"> <!--<![endif]-->
<head>
  <!-- <base href="https://www.ugent.be/en/work/resources/communication/corporate-design/panno-font.htm" /> -->
  <base href="./" />

  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>UGent T2K</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/favicon-16x16.png" />
  <link rel="icon" sizes="16x16 32x32" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/favicon.ico" />
  <!-- <link rel="manifest" href="https://www.ugent.be/plone_portal/++theme++ugent/static/icons/manifest.json" /> -->
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/++theme++ugent/static/icons/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <script>document.createElement("picture")</script>
  <script src="https://www.ugent.be/plone_portal/++theme++ugent/static/js/vendor/modernizr-custom.min.js" async=""></script>
  <script src="https://www.ugent.be/plone_portal/++theme++ugent/static/js/vendor/picturefill.min.js" async=""></script>
  <script src="https://www.ugent.be/plone_portal/++theme++ugent/static/js/vendor/jquery.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="text/html" name="DC.format" />
  <meta content="Page" name="DC.type" />
  <meta content="2016/09/20 - " name="DC.date.valid_range" />
  <meta content="lrbeke" name="DC.creator" />
  <meta content="2016-09-21T15:09:23+01:00" name="DC.date.created" />
  <meta content="2017-04-28T11:03:12+01:00" name="DC.date.modified" />
  <meta content="nl" name="DC.language" />
  <link rel="stylesheet" type="text/css" href="./main.css" />
  <!-- <link rel="stylesheet" type="text/css" href="https://www.ugent.be/portal_css/UGent%20Diazo%20Theme/themeugentstaticcssscreen-cachekey-3eb930ea018215c61175a0d2d75e7bfe.css" /> -->
  <link rel="stylesheet" type="text/css" href="./bibstyle.css">


  <link rel="apple-touch-icon" href="https://www.ugent.be/touch_icon.png" /><meta name="apple-mobile-web-app-title" content="UGent" />
  <link rel="canonical" href="https://www.ugent.be/en/work/resources/communication/corporate-design/panno-font.htm" />
  <meta name="generator" content="Plone - http://plone.org" /></head>