                      <p class=" ">The <strong>Text-to-Knowledge Group (T2K)</strong> conducts research in <strong>Natural Language Processing (NLP)</strong>, which ranges from designing 
									practical text processing systems to developing new machine learning methods for NLP. 
									A central theme of our research is the development of creative new algorithms for processing text to solve important problems in human language technology.</p>
                      <p align="LEFT"> User generated textual information is the most commonly used type of data on the Web but it is highly unstructured, e.g., as natural language text.
									NLP systems discover structured information from such text that enables much richer querying and data mining (e.g., in news articles, based on automatically extracted named entities, relations, dates) . 
									The overarching objective in our T2K team is to build systems that make sense of human produced text. Some of the topics we recently have been working on in this area include: 
									relation extraction, keyphrase extraction, text similarity and categorization, prediction of news adoption over social media, named entity recognition and linking, combining neural models and logic,
						  predicting medical outcomes from written reports, etc.
					  </p>