                    <div id="#members">
                      <h2 class=" " id="members">Members</h2>

					
					<div class="row">
						  <div class="col-md-2">
							<div class="thumbnail">
							  <a href="http://users.ugent.be/~cdvelder/">
								<img src="img/members/cdvelde.png" style="width:100%">
								<div class="caption">
								  <p>Chris Develder</p>
								</div>
							  </a>
							</div>
						  </div>
						  <div class="col-md-2">
							<div class="thumbnail">
							  <a href="https://tdmeeste.github.io/">
								<img src="img/members/tdmeeste.jpg" style="width:100%">
								<div class="caption">
								  <p>Thomas Demeester</p>
								</div>
							  </a>
							</div>
						  </div>
						  <div class="col-md-2">
							<div class="thumbnail">
							  
								<img src="img/members/jdeleu.jpg"  style="width:100%">
								<div class="caption">
								  <p>Johannes Deleu</p>
								</div>
							  
							</div>
						  </div>
				
						  
						  <div class="col-md-2">
							<div class="thumbnail">
							  <a href="https://bekou.github.io/">
								<img src="img/members/gbekou.jpg"  style="width:100%">
								<div class="caption">
								  <p>Giannis Bekoulis</p>
								</div>
							  </a>
							</div>
						  </div>
						  
						  <div class="col-md-2">
							<div class="thumbnail">
							  
								<img src="img/members/kzaporo.jpeg"  style="width:100%">
								<div class="caption">
								  <p>Klim Zaporojets</p>
								</div>
							 
							</div>
						  </div>
						  
						  
					</div>
					
					
					<div class="row">
					<!-- New members should be added here -->

					</div>


					
					  
					  
					  
                      <h3 class=" " id="members">Former Members</h2>
						<p><a href="http://cedricdeboom.github.io/about/">Cedric De Boom</a> - MEDIALAAN</p>
                        <p><a href="https://www.fredericgodin.com/">Fréderic Godin</a> - Amazon</p>
                        <p><a href="http://lusterck.github.io/">Lucas Sterckx</a> - BNP Paribas Fortis</p>
					    <p><a href="http://www.stevenvancanneyt.be/">Steven Van Canneyt</a> - Accurat.ai</p>
					    <p><a href="http://blazfortuna.com/index.html">Blaz Fortuna</a> - Jozef Stefan Institute</p>
                        <p><a href="https://www.linkedin.com/in/matthiasfeys/?originalSubdomain=be">Matthias Feys</a> - ML6</p>
                      </div>
                    </div>
